<div class="min-h-screen flex">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-800 text-white p-4">
    <h2 class="text-xl font-bold mb-4 cursor-pointer" (click)=" goToHome()" >Admin</h2>
    <nav class="flex flex-col space-y-2">
      <a (click)="goToAccountNature()" class="hover:text-green-300">Naturalezas de Cuenta</a>
      <a (click)="goToChartAccounts()" class="hover:text-green-300">Cuentas contables</a>
      <a (click)="goToPeriods()" class="hover:text-green-300">Períodos</a>
      <a (click)="goToAccounts()"class="hover:text-green-300">Cuentas</a>
      <a (click)="goToJournalEntry()" class="hover:text-green-300">Asientos</a>
      <a (click)="goToCustomers()" class="hover:text-green-300">Clientes</a>
      <!-- otras rutas -->
    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="flex-1 p-6">
    <!-- Header -->
    <header class="mb-6 border-b pb-4 flex items-center justify-between">
      <h1 class="text-2xl font-semibold text-gray-700">Panel Administrativo</h1>
      <a class="px-6 rounded-3xl text-xl font-semibold text-gray-700 hover:bg-amber-500" href="Log Out">Salir</a>
    </header>

    <!-- Aquí se renderiza la tabla u otras vistas -->
    <router-outlet></router-outlet>
  </main>
</div>
